-i https://pypi.org/simple/
beautifulsoup4==4.9.1
certifi==2020.12.5
chardet==3.0.4
cloudscraper==1.2.46
colorama==0.4.3
idna==2.10
loguru==0.5.1
pyparsing==2.4.7
requests-toolbelt==0.9.1
requests==2.24.0
soupsieve==2.2.1
tqdm==4.48.0
urllib3==1.25.11
youtube-dl==2020.7.28
